body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  background-color: darkslategray;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 8px;
  margin-bottom: 3rem;
  /* Adding border radius */
}

td {
  padding: 8px;
  text-align: left;
  color: darkslategray
}

td:hover {
  background-color: whitesmoke
    /* Change to the desired color */
}
th {
  background-color: darkslategrey;
  
}

tr {
  background-color: greenyellow;
}

thead th {
  text-align: left
}

.header {
  color: yellowgreen;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
  }
  
  .header:hover {
    color: whitesmoke;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}