body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  background-color: darkslategray;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 8px;
  margin-bottom: 3rem;
}

td {
  padding: 8px;
  text-align: left;
  color: darkslategray
}

th {
  background-color: darkslategrey;
}

tr {
  background-color: whitesmoke
}

thead th {
  text-align: left
}

.header {
  text-shadow: 8px 8px 16px yellowgreen;
    color: whitesmoke;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}