body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(73, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  margin: 0 auto;
  justify-content: center;
  display: flex;
}


table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 8px;
  margin-bottom: 3rem;
}


td {
  padding: 8px;
  text-align: left;
  background-color: rgb(183, 183, 183);
    color: rgba(2, 0, 36, 1)
}

td:hover {
  background: rgb(81, 81, 84);
    color: rgb(183, 183, 183)
}

th {
  background-color: transparent;
}


thead th {
  text-align: left
}

.header {
  color: #fafafa;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
  }
  
  .header:hover {
  color: whitesmoke;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}